.card {
  border-radius: 8px;
  padding: 14px 18px 10px;
  transform: translate(0, 0);
  cursor: pointer;
}

.todo {
  background: linear-gradient(190deg, #f2f3fc, #e2e4fd);
}

.inprogress {
  background: linear-gradient(190deg, #e5eefb, #e9f0fe);
}

.done {
  background: linear-gradient(190deg, #f0f3f2, #dfeeef);
}

.overdue {
  background: linear-gradient(190deg, #fae8e9c9, #facfd0d9);
}

.titleCard {
  display: flex;
  flex-direction: column;
  padding: 0 0 12px;
  gap: 4px;
}

.titleCard h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #565c8e;
}

.titleSet {
  display: flex;
  justify-content: space-between;
}

.time {
  font-size: 10px;
  color: #8f8daa;
}

.description {
  display: block;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description p {
  color: #6b7590;
  word-wrap: break-word;
}

.footerCard {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0 0;
}

.avatar.todo {
  border-color: #eff0fd;
  background: linear-gradient(100deg, #818ddb, #bec4f6);
}

.avatar.inprogress {
  border-color: #e7eefc;
  background: linear-gradient(100deg, #729ada, #b7d0f8);
}

.avatar.done {
  border-color: #ecf2f2;
  background: linear-gradient(100deg, #6ebba4, #c0e6db);
}

.avatar.overdue {
  border-color: #f9e5e6;
  background: linear-gradient(100deg, #ec6c6d, #fdb9ba);
}